@{
    ViewData["Title"] = "About";
}

<link rel="stylesheet" href="~/css/home.css" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="container" id="text-corner2">

    <div class="container">
        <div class="row">
            <div class="col-sm-6 banner-image ">
                <img src="~/lib/pictures/history1.jpg" class="img-responsive">
            </div>
            <div class="col-sm-6 banner-info">
                <p id="text-corner">Povijest našeg kluba</p>
                <p>
                    2009. godine u Zadru se slavilo čak 80 godina od početka igranja košarke u gradu koji se ponosi natpisom: „Bog je stvoria čovika, a Zadar košarku.“
                    Bilo je to 1929. godine, kada je skupina zadarskih studenata u Italiji za vrijeme božićnih blagdana odigrala prvu javnu košarkašku utakmicu u Zadru,
                    što je ujedno i početak košarkaške igre u Hrvata. Samu košarkašku loptu i pravila igre pak u Zadar su i ranije donijeli talijanski vojnici, za vrijeme talijanske okupacije grada.
                </p>
            </div>
        </div>
    </div>

    <p>
        U početku je sve to bilo dosta neorganizirano i sve se vrtilo oko nekolicine entuzijasta za taj, u to vrijeme, novi sport. Zahvaljujući njima igra se razvijala bez obzira na skromna igrališta i opremu u gradu,
        da bi 1. listopada 1930. napokon bila osnovana službena košarkaska organizacija u Zadru. Ponuđeni su tečajevi za suce i zapisničare i time sa košarka bitno unaprijedila. U početku su se košarkaške utakmice u Zadru igrale na betonskim, vanjskim igralištima.
        Ipak, prvi pravi košarkaški „bum“ u Zadru nastao je tek poslije drugog svjetskog rata.26. travnja 1945. godine osnovano je Fiskulturno društvo Zadar i košarka je bila jedna od sekcija.
        Već u kolovozu iste godine Zadar sudjeluje na fiskulturnom sletu u Zagrebu i osvaja drugo mjesto u muškoj i ženskoj konkurenciji. A u rujnu je održan turnir u Zadru u kojem su sudjelovale četiri gradske ekipe: Arbanasi, Valdeghisi, Voštarnica i Zadar.
        Tu je prvi put igran i play-off, prvoplasirana i drugoplasirana momčad igrale su za prvo mjesto. To se u Europi uvelo tek 40 godina kasnije. 1946. godine Zadar osvaja prvo mjesto na prvenstvu Hrvatske i drugo mjesto na saveznom natjecanju.
        Zadarski igrači Guido Pitoni i Madera Kalmeta nastupaju za državnu reprezentaciju. 1947. Zadar osvaja prvenstvo Dalmacije i prvenstvo Hrvatske, dok se 1948. dodaju natjecanja juniorskih i pionirskih ( muških i ženskih ) ekipa.
        Krupnim slovima u povijesti zabilježena je i 1951. godina kada se KK Zadar 11. veljače izdvojio iz FD Zadar, ali i kada je u zadarskom dresu sa samo 14 godina, prvi puta zaigrao Giuseppe Pino Giergia.
    </p>

    <div class="row">
        <div class="col-sm-6 banner-image ">
            <img src="~/lib/pictures/jazine.jpg" class="img-responsive">
        </div>
        <div class="col-sm-6 banner-info">
            <p><b>Novo igralište</b></p>
            <p>
                Sljedeće godine Zadarski igrači počinju emigrirati zbog političkih i ekonomskih razloga tako da se Zadar ne uspijeva održati u saveznom natjecanju nekoliko godina. 1958. Zadar se vraća u savezno natjecanje i osvaja 4. mjesto,
                i od tada je konstantno sudionik u prvoj košarkaškoj ligi. To je bio početak zlatnih godina zadarske košarke koji kulminira sa tri osvojena prvenstva 1965., 1967. i 1968. godine. Zadar je tada bio jedna od najpopularnijih momčadi ne samo u Jugoslaviji nego i Europi
                gdje su se uspjeli plasirati vrlo visoko. To je bilo vrijeme kad su u Zadru igrale i do danas dvije najveće legende kluba, Giuseppe Giergia i Krešimir Ćosić. Dvorana Jazine je izgrađena u rekordnih 70 dana 1967. godine (dvorana je bila jedan od uvjeta za nastup u Kup-u Europskih prvaka).
            </p>
        </div>
    </div>

    <p><b>Krešin početak</b></p>
    <p>
        U studenom 1964. godine, prvi je puta za KK Zadar zaigrao On; čovjek čija slika danas ponosno stoji u Jazinama – Krešimir Čosić. Imao je tek 16 godina, a Zadar je već godinu kasnije, 1965. na samom vrhu – prvak bivše države.
        Koliko je u Zadru košarka zapravo „obiteljski“ i tradicijski sport najbolje govore prezimena igrača te trofejne generacije (Stipčević, Marcelić, Komazec, Ostarčević).
        Novi naslov došao je već 1967. godine, a veliki Krešo Čosić znao je te sezone zabijati i preko 60 koševa u jednoj utakmici. Zadar je igrao ravnopravno sa svim najjačim euro momčadima te mu je malo nedostajalo da se nađe na završnom turniru Kupa prvaka i u borbi za sam naslov euro šampiona.
        Euroliga je već tada stanovala u Zadru i u zadarskoj novoj, prelijepoj dvorani. Naravno, osvojen je tada i treći naslov prvaka Jugoslavije.
    </p>

    <div class="container">
        <div class="row">
            <div class="col-sm-6 banner-image ">
                <img src="~/lib/pictures/krešo.jpg" class="img-responsive">
            </div>
            <div class="col-sm-6 banner-info">
                <p><b>Sedamdesete i osvajanje Kupa i još dva prvenstva</b></p>
                <p>
                    Nakon trećeg osvojenog prvenstva Krešimir Ćosić odlazi u USA na Brigham Young University a Giergia odlazi u Italiju gdje je bio igrac i trener. Odlaskom Ćosića u Ameriku rezultati Zadra su pomalo krenuli nizbrdo, međutim kada se Krešo vratio, uz sada već 36-godišnjeg Pina Giergu, Zadar je ponovno na vrhu bivše države ali i jedan od najboljih europskih klubova.
                    Rak rana Zadrana svih tih šampionskih godina uvijek je bio madridski Real koji im se u Euroligi redovito ukazivao na putu do samog naslova prvaka Europe.
                </p>
            </div>
        </div>
    </div>

    <p>
        Ipak, bile su to godine kada se vrhunska europska košarka u Jazinama i u Zadru „disala punim plućima“.
        1970. Zadar osvaja Kup ondašnje države. Finale kupa igralo se u Splitu i Jugoplastika je već imala spreman šampanjac i feštu za pobjedu. Kao iznenađenje Ćosić se vraća iz Amerike odigrati finale i pred 6000 gledatelja ( od kojih su navodno trećina bili zadarski navijači) Zadar pobjeđuje 64 - 60.
        Najbolji igrači utakmice bili su Giergia (23) i Ćosić (19). Pred kraj utakmice kod izjednačenog rezultata, 57 - 57 , Giergia je preuzeo stvari u svoje ruke. U tri napada postiže 6 koševa i dovodi Zadar do 63 - 57 nakon čega je utakmica bila gotova. Ćosic se vraca iz Amerike 1973. i Zadar ponovo osvaja dva prvenstva za redom 1974. i 1975.
        Ovo zadnje prvenstvo osvojeno je nizom od 25 pobjeda. Jedini poraz doživljen je u prvom kolu od Jugoplastike u Splitu. Nakon toga Zadar niže 25 pobjeda do kraja sezone u tada najjačoj ligi Europe. U napadu Zadar je imao prosjek šuta od 53 %, gotovo 90 koševa po utakmici, dok je u obrani primao prosječno 78 koševa po utakmici.
        Nažalost to je bio kraj zlatnih godina zadarske košarke, Giuseppe Giergia se u 38. godini života oprostio od aktivnog igranja a Krešimir Ćosić ponovo odlazi iz Zadra.
        Godina 1976. ujedno je označila kraj karijere simbola zadarske košarke – velikog Pina. U isto vrijeme Krešo je otišao u vojsku te se polako nazirao kraj zlatne zadarske košarkaške generacije. Bili su čak vrlo blizu ispadanja iz prve lige, ali i tada ih je spasio Ćosić, koji je u to vrijeme bio trener Bresta, međutim ujedno i igrač Zadra,
        sve samo kako bi pomogao svojem klubu u najtežim trenucima.
    </p>

    <div class="container">
        <div class="row">
            <div class="col-sm-6 banner-image ">
                <img src="~/lib/pictures/krešo-ćosić.jpg" class="img-responsive">
            </div>
            <div class="col-sm-6 banner-info">
                <p><b>1975-1986</b></p>
                <p>
                    Od 1975. do 1980. Zadar nastavlja igrati u saveznom natjecanju i uglavnom završava sezone u sredini tablice. Ponovni uspon Zadar je doživio pod vodstvom „Mistera 40“, sjajnog strijelca Branka Skroče kada je došao i do dva polufinala euro kupova; KPK-a i Kupa Radivoja Koraća.
                    Skroče je tri puta proglašavan najboljim strijelcem prvenstva Jugoslavije, a i dan danas stoji na vrhu kao igrač s najviše postignutih koševa u Zadru. Kao reprezentativac Jugoslavije osvojio je zlatne medalje na Svjetskom prvenstvu u Manili 1978. i na olimpijadi u Moskvi 1980. 1980-81.
                    Giuseppe Giergia postaje trener Zadra i dovodi Stojka Vrankovića, koji će 10 godina kasnije zaigrati u NBA kao do sada jedini igrač Zadra (Krešimir Ćosić je bio prvi draftiran u NBA,
                </p>
            </div>
        </div>
    </div>

    <p>
        ali nakon završene škole odlučio se vratiti u Zadar) Branko Skroče je morao u vojsku,
        ali Zadar ipak i bez njega uspijeva završiti treći u saveznom natjecanju, i probija se do polufinala Kupa Radivoja Koraća dvije godine za redom. To su nakon 1975. bile najuspješnije dvije godine Zadra. Kao novi mladi bekovi počeli su igrati sve bolje Darko Pahlić i Petar Popović.
        Sljedeće dvije sezone Giergia formira momčad koja će 1986. napokon donijeti Zadru šesti naslov prvaka. Te godine Giergia se premješta u upravu kluba a kao trener dovodi se Vlado Đurović.
    </p>

    <p><b>1986.</b></p>
    <p>
        Sredina osamdesetih... Cibona, predvođena Draženom Petrovićem jedna je od najjačih momčadi u Europi, ali te godine Zadar je napravio nešto što je malo tko očekivao. Zadrani dolaze do finala prvenstva i nakon izgubljene prve utakmice u Zagrebu, dobija drugu u Zadru.
        Treća i odlučujuća igrala se u Zagrebu i svi su očekivali pobjedu Cibone. Ali Petar Popović, nakon prvog poluvremena bez koša, daje 6 trica i 35 poena u drugom. Nakon 2 produžetka. Zadar pobjeđuje sa 111 : 110 i uzima 6. naslov prvaka.
        Zadar time dobija priliku ponovno se natjecati u najjačem europskom klupskom natjecanju Kupu prvaka. Tada na vrata košarkaške scene kuca mladi Arijan Komazec, a od igranja se 1987. godine oprašta Branko Skroče. U posljednjem prvenstvu Jugoslavije Zadar je osvojio četvrto mjesto.
    </p>

    <p><b>Zadar u samostalnoj Hrvatskoj</b></p>
    <p>
        U prvom prvenstvu u samostalnoj Hrvatskoj, Zadar je osvojio drugo mjesto. U finalu doigravanja sa 2-1 bila je bolja Cibona. 1994. na adresu Zadra stiglo je veliko priznanje. U izboru najviše američke košarkaške institucije Hall of fame Krešimir Ćosić nominiran je za ulazak u tu košarkašku kuću slavnih u Springfieldu.
        I drugi velikan zadrske košarke Pino Giergia 1994. počašćen je nagradom Franjo Bučar – najvišim državnim priznanjem za dostignuća i doprinos razvoju sporta u Hrvatskoj. 25. svibnja u bolnici John Hopkins u Baltimoreu preminuo je Krešimir Ćosić. Nakon kratkotrajne borbe s teškom bolesti, prestalo je kucati srce košarkaškog genija.
        Te godine u povodu 50. obljetnice Sportskih novosti u anketi sportskih novinara Hrvatske proglašen je najboljim hrvatskim sportašem svih vremena. Dana 4. travnja 2002. pred Jazinama mu je postavljen tri metra visok spomenik koji je nakon izgradnje nove sportske dvorane na Višnjiku koja nosi Krešino ime, prebačen ispred njenog ulaza.
        1995. godine KK Zadar dobija najveće hrvatsko sportsko priznanje – godišnju nagradu Franjo Bučar, za doprinos u razvoju sporta u RH.
        U sezoni 1997/1998 Zadar je ostvario dva velika uspjeha. Trener Danijel Jusup proglašen je za trenera godine, a Zadar je pod njegovim vodstvom osvojio drugo mjesto u PH, ali i naslov pobjednika košarkaškog Kupa koji se od te godine zove imenom Krešimira Ćosića. U finalu je Zadar bio bolji od Zagreba. Zadar je do sad osvojio 6 naslova pobjednika hrvatskog Kupa.
    </p>

    <div class="container">
        <div class="row">
            <div class="col-sm-6 banner-image ">
                <img src="~/lib/pictures/osvajači2003.jpg" class="img-responsive">
            </div>
            <div class="col-sm-6 banner-info">
                <p><b>Osvajači Goodyear lige sezona 2002/2003</b></p>
                <p>
                    Zadar je tijekom te sezone dugo bio daleko od četvrtog mjesta koje je vodilo na završni turnir, ali je ipak na njega uskočio u posljednji trenutak. A prije završnog turnira Goodyear lige Zadar je treći put za redom osvojio Kup Krešimira Ćosića. U završnici Goodyear lige koja se igrala u Ljubljani, u polufinalu je Zadrane čekala beogradska Crvena zvezda.
                    Beograđani su bili veliki favoriti, ali je Zadar iznenadio sa 78 – 77. U finalu s Maccabijem Zadar je igrao briljantno i pobijedio s 91 – 88. Time je postignut najveći uspjeh u povijesti zadarske košarke jer je prvi put osvojen jedan europski trofej i pobijeđen je klub koji je sljedeće godine postao prvak Europe. U prvenstvu Hrvatske te je godine Zadar u poluzavršnici ispao od Cibone.
                </p>
            </div>
        </div>
    </div>

    <p><b>Dva naslova prvaka Hrvatske</b></p>
    <p>
        Do prvog naslova prvaka Hrvatske Zadar je čekao do sezone 2004/2005. Za trenera je postavljen Rudolf Jugo, koji je iste godine osvojio i Kup i prvenstvo Hrvatske u kojem je Zadar u finalu bio bolji od Cibone rezultatom 87 – 82, i s ukupnih 3-2 nakon 19 godina osvojio naslov prvaka države.
        Trener Jugo upisan je u povijest zadarske košarke kao prvi čovjek koji je u jednoj sezoni uspio ostvariti 2 velika nacionalna uspjeha.
    </p>

    <p><b>2006. i 2007. KK Zadar osvaja Kup Kreše Ćosića, dok u prvenstvu Hrvatske završava oba puta na drugom mjestu, iza Cibone</b></p>
    <p>
        Do drugog naslova prvaka Hrvatske Zadrane je odveo trener Aleksandar Petrović u sezoni 2007/ 2008. Ovim naslovom Zadar je zaključio dobru sezonu u kojoj su u ULEB kupu stigli do osmine finala, u NLB ligi u regularnom dijelu osvojili su drugo mjesto i potom je uslijedilo malo razočarenje i loša predstava na Final fouru.
        U PH uvjerljivo su osigurali prvo mjesto, u polufinalu svladali Zagreb, a u finalnoj seriji s ukupnih 3-2 na kraju su bili bolji od momčadi Splita. Ovom utakmicom košarkaški Zadar oprostio se od legendarnih Jazina. Nakon 40 godina, košarkaške utakmice preselile su se u novo zdanje Krešine dvorane na Višnjiku.
    </p>

    <p><b>2009. Final 8 Eurocupa</b></p>
    <p>
        U regionalnoj ligi Zadar završava na tada razočaravajućem 5. mjestu, ali sjajni nastupi pod vodstvom tek pridošlog Zmage Sagadina u po jačini drugom natjecanju u Europi i nastup na završnici Eurocupa gdje ispadaju od Bilbao Basketa popravljaju dojam sezone.
    </p>

    <p><b>2010. - 2014.</b></p>
    <p>
        Zadar je nažalost u konstantnoj borbi za opstanak a u sezoni 2010/11. bilježi najgori rezultat u novijoj povijesti i ispada iz regionalne lige. U sljedećoj sezoni kroz domaće prvenstvo se ekspresno vraća, ali slijede grčevite dvije sezone za opstanak.
    </p>

    <p><b>2014/15. -</b></p>
    <p>
        Završetkom procesa predstečajne nagodbe i dolaskom nove uprave Klubom su zapuhali neki novi vjetrovi te je u sezoni napravljen iskorak u omladinskom i seniorskom pogonu. Kadeti i juniori su među vodećim ekipama u državi u svom uzrastu, dok su seniori kroz ABA ligu u lovu na Eurocup što je nakon mukotrpnog procesa konsolidacije veliki uspjeh i nagovještaj boljih rezultata u budućnosti.
    </p>

</div>
