@{
    ViewData["Title"] = "Contact";
}

<link rel="stylesheet" href="~/css/home.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="container" id="text-corner2">
    <p id="text-corner">Kako i gdje nas pronaći</p>
    <div class="row">
        <div class="col-sm-6 banner-image">
            <p><h4><b>Košarkaški klub Zadar</b></h4></p>
            <br />
            <p class="text-muted"><b>Obala kralja Tomislava 1</b></p>
            <p class="text-muted"><b>23000 Zadar</b></p>
            <p class="text-muted"><b>Hrvatska</b></p>
            <br />
            <br />
            <p class="text-muted">Web: <a href="https://localhost:44380">www.kkzadar.hr</a></p>
            <p class="text-muted">E-mail: <a href="https://student.vsite.hr/?q=student">dacurkov@vsite.hr</a></p>
            <p class="text-muted">Tel: 385 23 212 441</p>
            <p class="text-muted">Fax: 385 23 213 338</p>
            <br />
            <br />
            <p><p class="text-muted"><b>Član uprave / Direktor</b></p>
            <p><p class="text-muted">Željko Žilavec</p>
        </div>
        <div class="col-sm-6 banner-info">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1204.4468650593637!2d15.233728165821361!3d44.11072726998844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4761fa64257fdc63%3A0xb6b29e50400f376c!2sKo%C5%A1arka%C5%A1ki%20Klub%20Zadar!5e0!3m2!1shr!2shr!4v1598995709103!5m2!1shr!2shr"
                    width="500" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
</div>
<div class="container-social-icons" id="text-corner">
    <div class="row">
        <div class="col-sm-12 banner-info">
            <p>Pratite nas na društvenim mrežama!</p>
            <ul class="social-icons">
                <li><a href="https://www.facebook.com" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/?lang=hr" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
                <li><a href="https://fontawesome.com/icons/rss" class="social-icon"> <i class="fa fa-rss"></i></a></li>
                <li><a href="https://www.youtube.com" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
                <li><a href="https://www.linkedin.com" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://github.com" class="social-icon"> <i class="fa fa-github"></i></a></li>
            </ul>
        </div>
    </div>
</div>


