@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="~/js/site.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="slideshow-container">

    <div class="mySlides fade">
        <div class="numbertext">1 / 3</div>
        <img src="~/lib/pictures/kkzadar.jpg" style="width:100%">
    </div>

    <div class="mySlides fade">
        <div class="numbertext">2 / 3</div>
        <img src="~/lib/pictures/junakovic.jpg" style="width:100%">
    </div>

    <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img src="~/lib/pictures/tornado.jpg" style="width:100%">
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 banner-info">
            <p id="text-corner">Bog je stvorija čovika, a Zadar košarku!</p>
            <p id="text-corner2">
                <b>KK Zadar</b> kreće u nove pobjede u sezoni 2020/2021, te očekuje tvoju podršku. Sa novim rosterom i novim trenerom se bori za titulu prvaka Hrvatske, osvajača ABA lige i osvajača "Krešinog" kupa.
                <b>"Bog je stvorija čovika, a Zadar košarku!"</b> je stara izreka pod kojom i ove sezone Zadar kreće u pohod na trofeje i titule koje bi krasile i ovako bogatu povijest kluba. Dvorana Krešimira je mjesto
                radnje, a Tornado šesti igrač koji nikada nije iznevjerio. Zato baš sada te Zadar treba više nego ikada te svojom igrom podsjeća na stare dane "haranja" po Europi na koje se i dan danas naježe i puno
                veći klubovi poput Real Madrida i Panathinaikosa. Klub je osnovan davne 1945. godine i od onda naša "oluja" ne prestaje. Za Zadar su igrali naši slavni igrači kao što su: <b>Krešimir Ćosić</b>, <b>Giuseppe Gierga</b>,
                <b>Arijan Komazec</b>, <b>Branko Skroče</b>, <b>Stojko Vranković</b> i <b>Bruno Marcelić</b>. Tada su "gorile" naše Jazine, a danas je euforija prebačena u dvoranu Krešimira Ćosića na Višnjku kapaciteta 9 000 mjesta.
                Zato se pridruži podršci svom klubu i postani dio povijesti!
            </p>
        </div>
    </div>
</div>
<div class="container" id="text-corner2">
    <p id="text-corner">Slavni, ponosni dani KK Zadra</p>
    <div class="row">
        <div class="col-sm-6 banner-video">
            <iframe width="420" height="345" src="http://www.youtube.com/embed/-B3NiF2ZEEY" frameborder="0" allowfullscreen>
            </iframe>
        </div>
        <div class="col-sm-6 banner-info">
            <p id="text-corner">Prvaci Jugoslavije (1986.)</p>
            <p>
                Odlučujući treći susret bio je igran u Zagrebu protiv dvostrukog prvaka Europe Cibone, predvođenog Draženom Petrovićem Zadar je dobio <b>111:110</b> nakon dva produžetka. Za Zadar su igrali:
                <b>Darko Pahlić</b>, <b>Petar Popović</b>, <b>Milan Mlađan</b>, <b>Ante Matulović</b>, <b>Zdenko Babić</b>, <b>Dražen Blažević</b>, <b>Stojko Vranković</b>, <b>Veljko Petranović</b>,
                <b>Ivica Obad</b>, <b>Boris Hrabrov</b>, <b>Drago Čiklić</b> i <b>Arijan Komazec</b>. Trener je bio <b>Vlado Đurović</b>.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 banner-video">
            <iframe width="420" height="345" src="http://www.youtube.com/embed/Ln1pyd8F2Bo" frameborder="0" allowfullscreen>
            </iframe>
        </div>
        <div class="col-sm-6 banner-info">
            <p id="text-corner">Kup Krešimira Ćosića (1998.)</p>
            <p>
                Završni turnir je odigran u Zadru u Jazinama protiv KK Zagreba te je Zadar slavio <b>82:70</b>. Za Zadar su igrali:
                <b>Josip Vranković</b>, <b>Mario Gašparović</b>, <b>Jure Ružić</b>, <b>Ivan Perinčić</b>, <b>Marin Pestić</b>, <b>Branimir Longin</b>, <b>Kristijan Ercegović</b>, <b>Gerald Lewis</b>,
                <b>Tomislav Ružić</b>, <b>Marko Žorž</b> i <b>Jurica Žuža</b>. Trener je bio <b>Danijel Jusup</b>.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 banner-video">
            <iframe width="420" height="345" src="http://www.youtube.com/embed/bG2wcx6OYdg" frameborder="0" allowfullscreen>
            </iframe>
        </div>
        <div class="col-sm-6 banner-info">
            <p id="text-corner">Goodyear liga (2002./03.)</p>
            <p>
                Košarkaši Zadra pod trenerskom palicom Danijela Jusupa u Ljubljani su 5. travnja 2003. godine u finalu Final foura pobijedili veliki Maccabi iz Tel Aviva rezultatom <b>81-78</b> uz maestralnu partiju Marka Popovića. Za Zadar su igrali:
                <b>Damir Tvrdić</b>, <b>Jakov Vladović</b>, <b>Marko Popović</b>, <b>Branimir Longin</b>, <b>Ivan Perinčić</b>, <b>Marko Šamanić</b>, <b>Šime Špralja</b>, <b>Mladen Erjavec</b>,
                <b>Toni Dijan</b>, <b>Marko Banić</b>, <b>Mladen Pavić</b> i <b>Michael Meeks</b>. Trener je bio <b>Danijel Jusup</b>.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 banner-video">
            <iframe width="420" height="345" src="http://www.youtube.com/embed/ZSbLPoDcm6c" frameborder="0" allowfullscreen>
            </iframe>
        </div>
        <div class="col-sm-6 banner-info">
            <p id="text-corner">Kup Krešimira Ćosića (2020.)</p>
            <p>
                Finale kupa je odigrano u Zadru u dvorani Krešimira Ćosića pred 9 000 gledatelja te je Zadar slavio protiv Cibone <b>89:76</b>. Za Zadar su igrali:
                <b>Karlo Uljarević</b>, <b>Bryon Allen</b>, <b>Ive Ivanov</b>, <b>Ivan Siriščević</b>, <b>Bashir Ahmed</b>, <b>Jan Palokaj</b>, <b>Domagoj Vuković</b>, <b>Martin Junaković</b>,
                <b>Dominik Mavra</b>, <b>Stefan Fundić</b>, <b>Jure Planinić</b> i <b>Dominic Gilbert</b>. Trener je bio <b>Danijel Jusup</b>.
            </p>
        </div>
    </div>
</div>
<div class="container" id="text-corner2">
    <p id="text-corner">Škola košarke KK Zadar</p>
    <div class="row">
        <div class="col-sm-6 banner-image">
            <img src="~/lib/pictures/škzadar.jpg" class="img-responsive">
        </div>
        <div class="col-sm-6 banner-info">
            <p>
                Od školske godine 2009./2010. pokrenuta je zajednička škola košarke KK Zadar, „Prvi koš“, uz ŽKK Zadar.
                Trenira se u dvoranama ŠC Višnjik i uvjeti za rad su izvanredni.
                Škola trenutno broji 300 polaznika i polaznica. Osim provođenja redovitog programa, pojedine selekcije nastupaju na mnogim domaćim i inozemnim turnirim, kao i na službenim natjecanjima. Nakon predkadetskog uzrasta u KK Zadar odlaze najperspektivniji, kao i djevojčice u ŽKK Zadar.
                Škola radi po programu koji je verificiran pri Ministarstvu prosvjete i sporta RH (sastavljač: U. Piasevoli) i sastoji se od sljedećih stupnjeva:
            </p>
            <br />
            <p>I. i II. stupanj osnovne škole mini basketa (5 -7 god.)</p>
            <p>I., II. I III. stupanj napredne škole mini basketa (7 – 10 god.)</p>
            <p>I. – IV. stupanj škole košarke (10 – 14 god.)</p>
            <p>Predkadeti</p>
            <p>Kadeti</p>
            <br />
            <p><b>Upiši se i ti te postani pravi košarkaš/ica!</b></p>
        </div>
    </div>
</div>
<div class="container-social-icons" id="text-corner">
    <div class="row">
        <div class="col-sm-12 banner-info">
            <p>Pratite nas na društvenim mrežama!</p>
            <ul class="social-icons">
                <li><a href="https://www.facebook.com" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/?lang=hr" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
                <li><a href="https://fontawesome.com/icons/rss" class="social-icon"> <i class="fa fa-rss"></i></a></li>
                <li><a href="https://www.youtube.com" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
                <li><a href="https://www.linkedin.com" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://github.com" class="social-icon"> <i class="fa fa-github"></i></a></li>
            </ul>
        </div>
        </div>
    </div>

